<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

    <style>
        .card {
            background: rgb(24, 24, 34);
        }
        .form {
            width: 500px;
            margin: auto;
        }
        .form-control {
            margin-top: 30px
        }
    </style>
</head>
<body class='bg-dark'>
    <div class="container text-center text-white">
        <div class="card mt-2">
            <h1>Car Price Predictor</h1>
            <p class='lead'>Get Right Price for your car</p>
        </div>
        <div class="card mt-2">
            <h3>{{ output_text }}</h3>
            <form action="{{ url_for('predict') }}" method="POST" class='form'>
                <div class="form-group">
                    <input type="text" placeholder="Year In Which you bought the car?" class="form-control" name="year" required="required">
                    <input type="text" placeholder="How many kilometers are driven by the car?" class="form-control" name='kms_driven' required="required">
                    <input type="text" placeholder="Price of the car at the time of purchase?" class="form-control" name="present_price" required="required">
                    <input type="text" placeholder="How many owners previously owned this car?(0 or 1 or 2)" class="form-control" name="owners" required="required">
                    <select name="fuel_type" class='form-control' required="required">
                        <option value="">What type of fuel your car use?</option>
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                        <option value="CNG">CNG</option>
                    </select>
                    <select name='seller_type' required="required" class='form-control'>
                        <option value="">Are you a...?</option>
                        <option value="Dealer">Dealer</option>
                        <option value="Individual">Individual</option>
                    </select>
                    <select name="transmission" class='form-control' required="required">
                        <option value="">What kind of gear system your car has?</option>
                        <option value="Manual">Manual</option>
                        <option value="Automatic">Automatic</option>
                    </select>
                </div>
                <button type="submit" class='btn btn-success form-control mb-5'>Calculate the selling price.</button>
            </form>
        </div>
        <div class="section" style="height: 100vh;">

        </div>
    </div>
</body>
</html>
